:root {
  --primary-background-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --focus-text-color: #2196f3;
  --hero-background-color: #2f303a;
  --adress-footer-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: initial;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

button:hover,
button:focus {
  background-color: var(--focus-text-color);
  color: var(--primary-background-color);
}

li {
  list-style: none;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

address {
  font-style: normal;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

footer {
  background-color: var(--hero-background-color);
}

footer address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

.web {
  color: var(--focus-text-color);
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list:hover,
.nav-list:focus {
  color: var(--focus-text-color);
}

.nav-list.address {
  color: var(--secondary-text-color);
}

.nav-list.address:hover,
.nav-list.address:focus {
  color: var(--focus-text-color);
}

.nav-list.address-footer {
  font-weight: normal;
  font-style: 14px;
  line-height: 1.71;
  color: var(--adress-footer-color);
}

.nav-list.address-footer:hover,
.nav-list.address-footer:focus {
  color: var(--focus-text-color);
}


.hero {
  background-color: var(--hero-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-background-color);
}


.benefits-title {
  display: none;
}

.benefits-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


.our-occup {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
}

.our-team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.our-team-jobs {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}